<blockquote>
  <cite>MENU Lazy Load</cite>
</blockquote>

<hr />

<ul>
  <li [routerLink]="['/menulazyload/itemX']">ITEM X</li>
  <li [routerLink]="['/menulazyload/itemY']">ITEM Y</li>
  <li [routerLink]="['/menulazyload/itemZ']">ITEM Z</li>
  <li [routerLink]="['/menulazyload/itemZ/Teste']">ITEM Z / Teste</li>
  <li [routerLink]="['/not-found']">Not Found</li>
</ul>

<hr />

<!-- routes -->
<router-outlet></router-outlet>
