<blockquote>
  <cite>MENU</cite>
</blockquote>

<hr />

<ul>
  <li [routerLink]="['/menu/itemA']">ITEM A</li>
  <li [routerLink]="['/menu/itemB']">ITEM B</li>
  <li [routerLink]="['/menu/itemC']">ITEM C</li>
  <li [routerLink]="['/menu/itemC/Teste']">ITEM C / Teste</li>
  <li [routerLink]="['/not-found']">Not Found</li>
</ul>

<hr />

<!-- routes -->
<router-outlet></router-outlet>
