<blockquote>
  <cite>APP</cite>
</blockquote>

<hr />

<ul>
  <li [routerLink]="['/home']">Home</li>
  <li [routerLink]="['/menu']">Menu</li>
  <li [routerLink]="['/menu/teste']">Menu / teste</li>
  <li [routerLink]="['/menulazyload']">Menu Lazy Load</li>
  <li [routerLink]="['/route-params']">Route Params</li>
  <li [routerLink]="['/not-found']">Not Found</li>
</ul>

<hr />

<!-- routes -->
<router-outlet></router-outlet>
