<blockquote>
  <cite>Route Params</cite>
</blockquote>

<hr />

<ul>
  <li small>[routeA] Componente sendo chamado diretamente</li>
  <li [routerLink]="['/route-params/routeA']">Route A</li>
  <li small>[routeB] Componente sendo chamado diretamente</li>
  <li [routerLink]="['/route-params/routeB']">Route B</li>
  <li small>
    [branchA] Existe dentro de [routeB] mas está sendo chamado diretamente
  </li>
  <li [routerLink]="['/route-params/branchA']">-Branch A</li>
  <li small>
    [RouteC] sendo chamado em carregamento lento, alem de possuir dois branchs
    internos
  </li>
  <li [routerLink]="['/route-params/routeC']">Route C</li>
  <li small>[branchB] Componente sendo chamado dentro de [routeC]</li>
  <li [routerLink]="['/route-params/routeC/branchB']">Branch B</li>
  <li small>[branchC] Componente sendo chamado dentro de [routeC]</li>
  <li [routerLink]="['/route-params/routeC/branchC']">Branch C</li>

  <!-- ------- -->
  <li [routerLink]="['/not-found']">Not Found</li>
</ul>

<hr />

<!-- routes -->
<router-outlet></router-outlet>
