/* You can add global styles to this file, and also import other style files */
body {
  font-size: 16px;
}
li {
  line-height: 2.5rem;
  margin: 8px 0;
  padding-left: 14px;
  background: #f9f9f9;
  list-style: none;
  cursor: pointer;
  outline: none;
}
*[box] {
  line-height: 6rem;
  display: flex;
  justify-content: center;
}
*[red] {
  background: #ff7600;
}
*[green] {
  background: rgb(153, 242, 29);
}
*[yellow] {
  background: rgb(230, 253, 20);
}
*[blue] {
  background: rgb(12, 174, 223);
}
*[purple] {
  background: rgb(179, 5, 155);
}
*[small] {
  font-size: 10px;
  line-height: 1.2rem;
  letter-spacing: 1px;
}
